{% extends 'base.html' %}

{% block content %}

    {% for team in team_list %}

        <article class="media content-section">
          <img class="rounded-circle team-img" src="{{ team.team_image.url }}">


            <div class="media-body">

              <div class="team-metadata">
                <small class="text-muted">{{ team.created_on|date:"d, F, Y" }}</small>
            </div>

          <div class="team_id">
              <h4><a class="mr-2" href="{% url 'team-detail' team.team_name %}" class="text-muted">{{ team.team_name }}</a></h4>
              <small><a class="mr-2" href="{% url 'profile_data' team.team_lead.id %}">Team lead: {{ team.team_lead.first_name }}</a></small>
          </div>


          </div>
        </article>
    {% endfor %}

{% endblock %}
