{% extends 'base.html' %}

{% block content %}
    <h1>Team Details!</h1>

    <article class="media content-section">
          <img class="rounded-circle team-img" src="{{ object.team_image.url }}">
      <div class="media-body">

        <div class="team-metadata">
              <a class="mr-2" href="#">{{ team.id}}</a>
          <small class="text-muted">{{ team.created_on|date:"d, F, Y" }}</small>
          {% if object.team_lead == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'team-update' object.team_name %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'team-delete' object.team_name %}">Delete</a>
              </div>
          {% endif %}


      {% for member in object.members.all  %}
          <h1>{{ member }}</h1>
          <a href="{% url 'profile_data' member.id%}">{{ member }}</a>
          {% if object.team_lead == user %}
{#            <a href="{% url 'manage_team' operation='add' pk=member.id%}">Add</a>#}
            <a href="{% url 'manage_team' operation='remove' pk=member.id%}">Remove</a>
          {% endif %}
          <h2>{{ member.id }}</h2>
      {% endfor  %}
        <h3 class="team_lead">{{ object.team_lead }}</h3>


        <p class="team-content">
            <a href="#">{{ object.description }}</a>
        </p>
      </div>
    </article>

{% endblock content %}