{% extends 'base.html' %}

{% block content %}

    {% for team in teams  %}
        <article class="media content-section">
            <img class="rounded-circle team-img" src="{{ team.team_image.url }}">
            <div class="media-body">
                <div class="team-metadata">
                    <h4><a class="mr-2" href="{% url 'team-detail' team.team_name%}">{{ team.team_name }}</a></h4>
                </div>
            </div>
        </article>
    {% endfor %}

    {% for lead in lead_data  %}
        <article class="media content-section">
            <img class="rounded-circle team-img" src="{{ lead.team_image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <h4><a class="mr-2" href="{% url 'team-detail' lead.team_name%}">{{ lead.team_name }}</a></h4>
                </div>
            </div>
        </article>
    {% endfor %}

{% endblock %}






{##}
{#      {% for team in team_lead  %}#}
{#          <h1>{{ team.team_lead }}</h1>#}
{#          <a href="{% url 'team-detail' team.team_name %}">Team</a>#}
{#      {% endfor %}#}



{#            <div class="team-metadata">#}
{#              <a class="mr-2" href="#">{{ team.team_name}}</a>#}
{#              <small class="text-muted">{{ team.created_on|date:"d, F, Y" }}</small>#}
{#            </div>#}
{##}
{#            <h2><a class="team_name" href="{% url 'team-detail' team.team_name %}">{{ team.team_name }}</a></h2>#}
{#            <h3><a class="team_lead" href="#">{{ team.team_members }}</a></h3>#}
{##}
{#            <p class="team-content">#}
{#                    <a href="#">{{ team.username }}</a>#}
{#                    <a href="#">{{ team.team_members }}</a>#}
{#                    <a href="#">{{ team.team_members }}</a>#}
{#            </p>#}


{#    <h3>team_list</h3>#}
