{% extends 'base.html' %}

{% block content %}

    {% for profile in profile_list %}
        <article class="media content-section">
          <img class="rounded-circle team-img" src="{{ profile.image.url }}">
          <div class="media-body">

            <div class="article-metadata">

                {% if profile.user.first_name %}
                    <h4><a class="mr-2" href="{% url 'profile_data' profile.id %}">{{ profile.user.first_name }} {{ profile.user.last_name }}</a></h4>
                {% endif %}

                <small><a class="mr-2" href="{% url 'profile_data' profile.id %}" class="text-muted">{{ profile.user.email }}</a></small>

            </div>
          </div>
        </article>
    {% endfor %}

{% endblock content %}
