{% extends 'base.html' %}

{% block content %}

    {% for prof in profiles %}

        <div class="content-section">
            <div class="media">
                <img class="rounded-circle member-img" src="{{ prof.image.url }}">
                <div class="media-body">
                    <h2 class="team_name">{{ prof.user.first_name }} {{ prof.user.last_name }}</h2>
                    <h4 class="account-heading">{{ prof.user.username }}</h4>
                    <p class="text-secondary">{{ prof.user.email }}</p>
                </div>
            </div>


            <div class="profile-data">

            <span>

                {# if current user is team lead #}
                <h3 class="team-content">Part of: </h3>
                {% for team in lead_data %}
                    {% if team.team_lead_id == prof.user_id %}
                    <div class="profile-data">
                        <li>
                            <a href="{% url 'team-detail' team.team_name %}">{{ team.team_name }} (Lead)</a>
                        </li>
                    </div>
                    {% endif %}
                {% endfor %}

                {# if current user is member of any team #}
                <div class="profile-data">
                    {% for team in teams %}
                        <li>
                            <a href="{% url 'team-detail' team.team_name %}">{{ team.team_name }}</a>
                        </li>
                    {% endfor %}
                </div>


                {# add members if current user is team lead #}
{#                <div class="team-content">#}
                    {% for team in team_data %}
                        {% if team.team_lead == request.user %}
{#                            <a class="btn btn-danger btn-sm ml-50 mt-1 mb-1" href="#">Add</a>#}
                            <a class="btn btn-danger btn-sm ml-50 mt-1 mb-1" href="{% url 'manage_team' operation='add' pk=prof.id%}">Add</a>

{#                            {% url 'manage_team' operation='add' pk=member.id%}#}

                            <h1>User: {{ request.user }}</h1>
                            <h1>Leads: {{ team.team_lead }}</h1>
                            <h1>Teamname: {{ team.team_name }}</h1>

                        {% endif %}
                    {% endfor %}
{#                </div>#}
{#            {% for prof in profiles %}#}
{#                {%  %}#}
{#                {% prof.id == tea%}#}
{#            {% endfor %}#}



            </span>

            <span>
                {% if prof.skills %}<br>
                    <h3 class="team-content">Skills: </h3>
                        <p>{{ prof.skills }}</p>
                {% endif %}
            </span>

            <span>
                {% if prof.gender %}<br>
                    <h3 class="team-content">Gender: </h3>
                        <p>{{ prof.gender }}</p>
                {% endif %}
            </span>

            <span>
                {% if prof.city %}<br>
                    <h3 class="team-content">City: </h3>
                        <p>{{ prof.city }}</p>
                {% endif %}
            </span>

            <span>
                {% if prof.contact_no %}<br>
                    <h3 class="team-content">Contact Number: </h3>
                        <p>{{ prof.contact_no }}</p>
                {% endif %}
            </span>

            <span>
                {% if prof.qualification %}<br>
                    <h3 class="team-content">Qualification: </h3>
                        <p>{{ prof.qualification }}</p>
                {% endif %}
            </span>

            <span>
                {% if prof.bio %}<br>
                    <h3 class="team-content">Bio: </h3>
                        <p>{{ prof.bio }}</p>
                {% endif %}
            </span>


            <span>
                {% if prof.file %}<br>
                    <h3 class="team-content">Related Files: </h3>
                        <li class="ml-5"><a class="team-content" href="{{ prof.file.url }}">{{ prof.file.name }}</a></li>
                {% endif %}
            </span>

            </div>

        </div>
    {% endfor %}
{% endblock %}
